<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ht_staticblocks</name>
    <displayName><![CDATA[HiddenTechies Static Blocks]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds Static Blocks to Any Hook]]></description>
    <author><![CDATA[HiddenTechies]]></author>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure that you want to delete your Static Blocks?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>